body{
  margin: 0;
}
footer {
  clear: both;
  /*border: 1px solid blue;*/
}
header, .mediaRow, .quoteSection, .ourVisionHero {
  float: left;
  width: 100%;
  /*border: 1px solid black;*/
}

/* ----------NAV BAR START-----------------*/
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
header section.navContainer{
  /* position: fixed; */
  float: left;
  background-color:white;
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
}
header section.navContainer a h1{
  width: 20%;
  float: left;
  margin-left: 5%;
  margin-top: 27px;
  font-family: sans-serif;
  font-weight:bolder;
  color: black;
}
header section.navContainer nav {
  width: 70%;
  /*text-align: center;*/
  padding: 2%;
  text-indent: 25px;
  text-align: right;
  float: right;
  margin-top: 5px;
  margin-right: 1%;
  font-family: sans-serif;
}
header section.navContainer nav a{
  text-decoration: none;
}
header section.navContainer nav a li {
  display: inline-block;
  font-size: 20px;
  color: black;
}
header section.navContainer nav a li:hover{
  color: #ff9900;
}
/* ----------NAV BAR END-----------------*/

/* ----------VIDEO BANNER START-----------------*/
section.mediaRow{
  margin-top: 6%;
}
section.mediaRow .filmContainer{
  /* top: 0;
  bottom: 0; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}
section.mediaRow .filmContainer video {
  display: block;
  transform: translate(-10%, -10%);
  overflow: hidden;
  background-size: contain;
  filter: opacity(45%);
}
section.mediaRow section.filmInfo {
  width: 100%;
  text-align: left;
}
.filmInfo h2{
  position: absolute;
  width: 53%;
  text-align: left;
  margin-top: -33%;
  margin-left: 5%;
  font-size: 32px;
  /* color: #f8ff00; */
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
}
.filmInfo button{
  position: absolute;
  width: 20%;
  text-align: center;
  margin-top: -15%;
  margin-left: 5%;
  border-radius: 50px;
  padding: 1%;
  border: 5px solid white;
  color: white;
  background-color:inherit;
}
div.video-filter{

}

/* ----------VIDEO BANNER END-----------------*/

section.quoteSection, .ourVisionHero{
  width: 100%;
  text-align: center;
}
section.ourVisionHero{
  background-color: #17365f;
}
section.quoteSection .wrap {
  width: 50%;
  /* border: 5px solid yellow; */
  border-radius: 2%;
  display: block;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  float: left;
}
section.quoteSection .wrap h2{
  font-weight: bolder;
  font-size: 2em;
  font-family: sans-serif;
  text-align: left;
  padding: 1%;
}
section.quoteSection .wrap p {
  padding: 1%;
  font-weight: bolder;
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: left;
}
section.quoteSection .imgCont{
  width: 30%;
  float: left;
}
section.quoteSection .imgCont img{
  height: 1000px;
  margin-left: -100%;
  margin-top: 20%;
}
section.ourVisionHero .wrap {
  width: 65%;
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.ourVisionHero .wrap h2{
  font-size: 30px;
  text-decoration: underline yellow;
  color: white;
  padding-bottom: 3px;
}
.ourVisionHero .wrap p{
  color: white;
  font-size: 1.5em;
}
.ourVisionHero .wrap #quote{
  color: white;
  font-size: 1.0em;
  font-family: cursive;
  font-style: italic;
}
span{
  color: white;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 4s;
}

/* ---------------------------MEDIA QUERYS START --------------------------*/
@media only screen and (max-width: 500px) {
  header section.navContainer nav{
    margin-top: 34px;
  }
  header section.navContainer nav a{
    margin-right: 20px;
  }
  section.mediaRow section.filmContainer iframe {
    width: 400px;
    height: 400px;
  }

  section.mediaRow section.filmInfo div.infoWrapper{
    width: 100%;
  }
  section.mediaRow section.filmInfo {
    position: absolute;
    margin-top: -127%;
  }
  section.mediaRow section.filmInfo h2 {
    color: white;
    font-family: sans-serif;
    text-align: left;
    width:92%;
  }
  section.mediaRow section.filmInfo h3 {
    margin-top: -80%;
    font-size: 50px;
    color: white;
    text-align: left;
  }
  section.mediaRow section.filmInfo button{
    width:47%;
    padding:7%;
    margin-top: 79%;
  }
  section.quoteSection .wrap {
    width:83%;
  }
  section.ourVisionHero .wrap{
    width: 90%;
  }

}
@media (min-width:501px) and (max-width:800px)  {
  header section.navContainer nav{
    margin-top: 34px;
  }
  header section.navContainer nav a{
    margin-right: 20px;
  }
  section.mediaRow section.filmContainer iframe {
    width: 400px;
    height: 400px;
  }

  section.mediaRow section.filmInfo div.infoWrapper{
    width: 100%;
  }
  section.mediaRow section.filmInfo {
    position: absolute;
    margin-top: -127%;
  }
  section.mediaRow section.filmInfo h2 {
    color: white;
    font-family: sans-serif;
    text-align: left;
    width:92%;
  }
  section.mediaRow section.filmInfo h3 {
    margin-top: -80%;
    font-size: 50px;
    color: white;
    text-align: left;
  }
  section.mediaRow section.filmInfo button{
    width:47%;
    padding:7%;
    margin-top: 79%;
  }
  section.quoteSection .wrap {
    width:83%;
  }
  section.ourVisionHero .wrap{
    width: 90%;
  }
}
