body{
  margin: 0;
}
footer {
  clear: both;
  /*border: 1px solid blue;*/
}
header, .mediaRow, .quoteSection, .ourVisionHero {
  float: left;
  width: 100%;
  /*border: 1px solid black;*/
}

/* ----------NAV BAR START-----------------*/
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
header section.navContainer{
  /* position: fixed; */
  float: left;
  background-color:white;
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
}
header section.navContainer h1{
  width: 20%;
  float: left;
  margin-left: 5%;
  margin-top: 27px;
  font-family: sans-serif;
  font-weight:bolder;
}
header section.navContainer nav {
  width: 70%;
  /*text-align: center;*/
  padding: 2%;
  text-indent: 25px;
  text-align: right;
  float: right;
  margin-top: 5px;
  margin-right: 1%;
}
header section.navContainer nav a{
  text-decoration: none;
}
header section.navContainer nav a li {
  display: inline-block;
  font-size: 20px;
  color: black;
}
header section.navContainer nav a li:hover{
  color: #ff9900;
}
/* ----------NAV BAR END-----------------*/

/* ----------VIDEO BANNER START-----------------*/
section.mediaRow{
  margin-top: 6%;
}
section.mediaRow .filmContainer{
  /* top: 0;
  bottom: 0; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
section.mediaRow .filmContainer video {
  display: block;
  transform: translate(-40%, -29%);
  overflow: hidden;
  background-size: contain;
}
section.mediaRow section.filmInfo {
  width: 100%;
  text-align: left;
}
.filmInfo h2{
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: -27%;
  font-size: 64px;
  /* color: #f8ff00; */
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
}
section.video-filter{
  /* position: absolute; */
  top: 13%;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: rgb(0 0 0 / 50%);
}
}
/* ----------VIDEO BANNER END-----------------*/





/* ---------------------------MEDIA QUERYS START --------------------------*/
@media only screen and (max-width: 500px) {
  section.mediaRow section.filmContainer iframe {
    width: 400px;
    height: 400px;
  }

  section.mediaRow section.filmInfo div.infoWrapper{
    width: 100%;
  }
  section.mediaRow section.filmInfo h2 {
    margin-top: -160%;
    font-size: 85px;
    color: yellow;
    font-family: sans-serif;
    text-align: left;
  }
  section.mediaRow section.filmInfo h3 {
    margin-top: -80%;
    font-size: 50px;
    color: white;
    text-align: left;
  }
  .skydeckVideoGrid section {
    width: 100%;
  }
}
@media (min-width:501px) and (max-width:800px)  {
  section.mediaRow section.filmContainer iframe {
    width: 500px;
    height: 400px;
  }
  section.mediaRow section.filmInfo div.infoWrapper{
    width: 100%;
  }
}
